.App {
  text-align: center;
  height: 100vh;
  max-width: "md";
}

.Button-container {
  display: "flex";
  flex-wrap: "wrap";
  height: calc(100vh - 56px);
}

.Image-button {
  position: "absolute";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  color: white;
}
